
    .projectExamples {
        width: 55%;
        margin: 0 auto;
        height: auto;
    }

    .projectBox {
        background: lightblue;
        border: 1px solid #000000;
        display:flex;
        justify-content: space-between;  
    }
    .projectBox h4.course {
        background:blue; 
        color:white;
        padding: 20px;
        height: 20px;
        
    }

    .projectBox img {
        margin-bottom: 25px;
        padding-top: 25px;
    }

    .projectBox a.button {
        margin-right: 25px;

    }
    footer {
        clear: left;
    }