
    body {
        background: rgba(24, 58, 131, 0.404);
        color: black;
        font-size: 1.25rem;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

